<!-- Pass value navbarActive via
   model.addAttribute("navbarActive", "Profile");
-->
<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha384-GLhlTQ8iUNnJTmPz/9Fq0J1vZUOD+qDnJ/xm9456LZlxDI1/egUqF5/2MIcGg1x"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>

  <body>
    <!-- Hamburger Menu Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
      <div class="humberger__menu__logo">
        <a href="/">
          <img th:src="@{/img/logo-cart-text-square.png}" width="100" />
        </a>
      </div>
      <div class="humberger__menu__widget"></div>
      <nav class="humberger__menu__nav mobile-menu">
        <ul>
          <li
            class=""
            th:classappend="${navbarActive == 'orderHistory'} ? 'active' : ''"
          >
            <a href="/order/history">Order History</a>
          </li>
          <li
            class=""
            th:classappend="${navbarActive == 'Profile'} ? 'active' : ''"
          >
            <a href="/profile">Profile</a>
          </li>
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Hamburger Menu End -->

    <!-- Navbar Begin -->
    <header class="header" th:fragment="navbar(navbarActive)">
      <div class="container">
          <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-lg-3">
                  <div class="header__logo">
                      <a href="/home">
                          <img th:src="@{/img/logo-cart-text-rectangle.png}" width="200"/>
                      </a>
                  </div>
              </div>
  
              <!-- Main Navigation (Profile, Order History) -->
              <div class="col-lg-6">
                  <nav class="header__menu">
                      <ul th:if="${navbarActive != null and navbarActive != 'NotLoggedIn'}">
                          <li th:classappend="${navbarActive == 'Profile'} ? 'active' : ''">
                              <a href="/profile">Profile</a>
                          </li>
                          <li th:classappend="${navbarActive == 'orderHistory'} ? 'active' : ''">
                              <a href="/order/history">Order History</a>
                          </li>
                      </ul>
                  </nav>
              </div>
  
              <!-- Login Link -->
              <div class="col-lg-3">
                  <nav class="header__menu">
                      <ul th:unless="${navbarActive != null and navbarActive == 'Home'}">
                          <li class="text-right">
                              <a href="/login-sso">Login</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </header>
  

    <!-- Navbar End -->
  </body>
</html>
