<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TK</title>
    <object th:insert="~{fragments/fragment::css}" th:remove="tag"></object>
    <object th:insert="~{fragments/fragment::js}" th:remove="tag"></object></head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Login to APAPEDIA</h2>
                <form th:action="@{/login}" th:object="${authenticationRequest}" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input required class="form-control" th:field="*{username}" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" required class="form-control" th:field="*{password}" />
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>